*.md linguist-language=matlab
*.yml linguist-language=matlab
*.html linguist-language=matlab 
*.js linguist-language=matlab
*.xml linguist-language=matlab
*.css linguist-language=matlab
*.sql linguist-language=matlab
*.uml linguist-language=matlab
*.cmd linguist-language=matlab
